.bg {
    background-color: #FFFFFF;
    height: fit-content;
    overflow-x: hidden;

}

.searchBox {
    height: 40px;
    background: #F7F7F7;
    border-radius: 52px;
}

.inputSearch {
    width: 100%;
    height: 100%;
    border: none;
    background: #F7F7F7;
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: end;
}

.alignCenter2 {
    display: flex;
    align-items: center;
}

.filterbox {
    width: 50px;
    height: 50px;
    border-radius: 52px;
}

.mar_le {
    margin-left: 0px;
}

.color_blu {
    color: rgba(70, 79, 96, 0.7);
}

.drofdownBox {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.tableBox {
    height: 353px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: scroll;
}
.small_font{
    font-size: 16px;
}

.setbody {
    width: 83.33333%;
    margin-left: 16.66667%;
}

.tblleboxmargin {
    margin-left: 45px !important;
    margin-right: 45px !important;
}
.rowell{
    display: flex;
    justify-content: center;
    align-items: center;
}
.size_select{
    width: 150px !important;
    height: 30px !important;
    background-color: #F7F7F7 !important;
}
.fondsixw{
    font-size: 13px !important;
    font-weight: 500;
}
.setbody h2{
    font-weight: bold;
    font-size: 20px;
}











@media screen and (max-width: 900px) {
    .setbody {
        width: 100%;
        margin-left: 0%;
    }

    .tblleboxmargin {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .row_width{
        min-width:200%;
    }
    .ew_p{
        margin-left: -25%;
    }
    .rowell{
        display: flex;
        justify-content: start !important;
        align-items: center;
        margin-top: 10px !important;
    }
}