.bg {
    background-color: #FFFFFF;
    height: fit-content;
    overflow-x: hidden;

}

.searchBox {
    height: 40px;
    background: #F7F7F7;
    border-radius: 52px;
}


.inputSearch {
    width: 100%;
    height: 100%;
    border: none;
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: end;
}

.alignCenter2 {
    display: flex;
    align-items: center;
}

.filterbox {
    width: 50px;
    height: 50px;
    border-radius: 52px;
}

.mar_le {
    margin-left: 0px;
}

.color_blu {
    color: rgba(70, 79, 96, 0.7);
}

.drofdownBox {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tableBox {
    height: 353px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: scroll;
}

.setbody {
    width: 83.33333%;
    margin-left: 16.66667%;
}

.tblleboxmargin {
    margin-left: 45px !important;
    margin-right: 45px !important;
}

.rowell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size_select{
    width: 150px !important;
    height: 30px !important;
    background-color: #F7F7F7 !important;
}

.fondsixw {
    font-size: 13px !important;
    font-weight: 500;
}

.setbody h2 {
    font-weight: bold;
    font-size: 20px;
}

.center_a_box {
    height: fit-content;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.listionname {
    margin-top: 15px;
    /* font-family: 'Work Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #464F60;
}

.listionname2 {
    margin-top: 13px;
    /* font-family: 'Work Sans'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #464F60;
}
.border_input{
    border: 1px solid rgb(212, 212, 212) !important;
}

/* .btn_mail {
    width: 112px;
    height: 30px;
    background: linear-gradient(90deg, rgba(28, 126, 79, 0.62) 0%, rgba(53, 171, 65, 0.76) 100%);
    box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
    border-radius: 14.0776px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;

} */

.btn_mail p {
    color: white;
    font-size: 14px;
}

.all_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .btn_deal {
    width: 112px;
    height: 30px;
    background: #067237;
    box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
    border-radius: 6px;
} */

.btn_deal p {
    color: white;
    font-size: 14px;
}

.btn_deal2 {
    width: 112px;
    height: 30px;
    background: rgba(23, 22, 26, 0.69);
    box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
    border-radius: 6px;
}

.btn_deal2 p {
    color: white;
    font-size: 14px;
}

.profit_txt {
    color: rgb(6, 193, 6);
}

.witeboxstok {
    height: fit-content;
    background: #F7F7F7;
    box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
    border-radius: 14.0776px;
    /* z-index: 1; */
}

.div_box_txt {
    color: #464F60;
}

.div_box_txt_bod {
    font-weight: bold;
}

.blach_bolt_txt {
    font-weight: bold;
}

.blach_bolt_txt2 {
    font-weight: bold;
    color: #464F60;
}
.box_table{
    position: absolute;
    visibility: hidden;
    display: none;
}
.bg_coll{
    background: #F7F7F7 !important;
}

.inputbox {
    box-sizing: border-box;
    width: 300px;
    height: 35px;
    background: #F1F1F1;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.imput{
    width: 100%;
    height: 34px;
    background-color:#F1F1F1;
}
.gb_txt{
font-weight: 600;
font-size: 17px;
color: #464F60;
}
.look_txt{
    font-weight: 600;
    font-size: 12px;
    color: #067237;
}
.btn_continuw{
width: 117px;
height: 40px;
background: #6B7B8C;
border-radius: 4px;
cursor: pointer;
}
.underline{
    text-underline-position: under;
    cursor: pointer;
}
.BOXHidde1{
    position: relative;
    visibility: visible;
}
.BOXHidde2{
    position: absolute;
    visibility: hidden;
}
.BOXHidde3{
    position: absolute;
    visibility: hidden;   
}
.tx_small{
    font-size: 12px;
    color: #999696;
}
.tx_data_fiance{
    color: #999696;
}
.finaceBTN{
width: 217px;
height: 35px;
background: #6B7B8C;
border-radius: 4px;
}













@media screen and (max-width: 900px) {
    .setbody {
        width: 100%;
        margin-left: 0%;
    }

    .tblleboxmargin {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .row_width {
        min-width: 200%;
    }
}